@page "/categories"
@using Audionix.Models
@using Microsoft.EntityFrameworkCore
@inject ILogger<Home> Logger
@inject IHostEnvironment Environment
@inject AudionixDbContext DbContext
@inject NavigationManager _nav

<PageTitle>Categories</PageTitle>

<MudPaper>
    <h2 Class="ptb-2 ml-2">Categories</h2>
</MudPaper>

<MudPaper Class="ma-1" Elevation="8">
    <MudStack Row="true">
        <MudPaper Class="ma-2 ml-4" Width="250px">
            <MudStack Row="true">
                <MudSelect Value="selectedStationId" Class="mtbl-4" Margin="Margin.Dense" T="int" MultiSelection="false" Label="Station" Variant="Variant.Outlined" FullWidth="false" ValueChanged="OnStationChanged">
                    @foreach (var station in DbContext.Stations)

                    {
                        <MudSelectItem Value="@(station.Id)">@(station.CallLetters)</MudSelectItem>
                    }
                </MudSelect>
            </MudStack>
        </MudPaper>
        <MudSpacer />
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(()=>_nav.NavigateTo("/categories"))">Categories</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(()=>_nav.NavigateTo("/patterns"))">Patterns</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(()=>_nav.NavigateTo("/musicgrid"))">Music Grid</MudButton>
    </MudStack>
</MudPaper>

<MudPaper Width="500px">
    <MudCard Outlined="true" Class="ma-8" Elevation="25">
        <MudCardActions>
            <MudTextField @bind-Value="@newCategory" Label="Category Name" Variant="Variant.Outlined"></MudTextField>
            <MudButton Class="ma-1" Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddCategory">Add Category</MudButton>
        </MudCardActions>
        <MudTable Items="@filteredCategories"
                  ReadOnly=false
                  Dense=true
                  Bordered=true
                  Class="border-solid">
            <HeaderContent>
                <MudTh>Category</MudTh>
                <MudTh>Delete</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Category">@context.Category</MudTd>
                <MudTd>
                    <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(()=>RemoveCategory(@context))">Delete</MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </MudCard>
</MudPaper>

@code {
    private string newCategory = string.Empty;

    private int selectedStationId;

    private List<MusicCategory> categories = new();

    private List<MusicCategory> filteredCategories = new();



    protected override async Task OnInitializedAsync()

    {

        categories = await DbContext.MusicCategories.ToListAsync();

        await FilterCategories();

    }



    private async Task AddCategory()

    {

        if (!string.IsNullOrWhiteSpace(newCategory) && selectedStationId != 0)

        {

            var category = new MusicCategory
                {
                    Category = newCategory,
                    Station = selectedStationId
                };

            DbContext.MusicCategories.Add(category);

            await DbContext.SaveChangesAsync();

            categories = await DbContext.MusicCategories.ToListAsync();

            await FilterCategories();

            newCategory = string.Empty;

        }

    }



    private async Task RemoveCategory(MusicCategory category)

    {

        DbContext.MusicCategories.Remove(category);

        await DbContext.SaveChangesAsync();

        categories = await DbContext.MusicCategories.ToListAsync();

        await FilterCategories();

    }

    private void OnStationChanged(int stationId)



    {
        stationId = stationId;
        selectedStationId = stationId;

        FilterCategories();

    }



    private Task FilterCategories()

    {

        if (selectedStationId != 0)

        {

            filteredCategories = categories.Where(c => c.Station == selectedStationId).ToList();

        }

        else

        {

            filteredCategories = new List<MusicCategory>();

        }

        return Task.CompletedTask;

    }
}
