@page "/musicgrid"
@using Audionix.Models
@using Audionix.Models.MusicSchedule
@using MudBlazor
@using MudBlazor.Components
@inject ILogger<Categories> Logger
@inject ApplicationDbContext DbContext
@inject NavigationManager _nav
@inject IDialogService DialogService

<PageTitle>Music Grid</PageTitle>

<MudPaper>
    <h2 class="ptb-2 ml-2">Music Grid</h2>
</MudPaper>

<MudStack Row="true">
    <MudPaper class="ma-1" Elevation="8">
        <MudStack Row="true">
            <MudSelect Style="min-width: 200px;" Class="ml-2" FullWidth="true" T="Guid?" Label="Station" Value="selectedStationId" ValueChanged="OnStationChanged" Placeholder="Select Station" Margin="Margin.Dense" Variant="Variant.Outlined">
                @foreach (var station in stations)
                {
                    <MudSelectItem Value="@(station.StationId as Guid?)">@station.CallLetters</MudSelectItem>
                }
            </MudSelect>

            <MudSelect Style="min-width: 200px;" Class="ml-2" FullWidth="true" T="Guid?" Label="Music Pattern" Value="selectedMusicPatternId" ValueChanged="OnMusicPatternChanged" Placeholder="Select Music Pattern" Margin="Margin.Dense" Variant="Variant.Outlined">
                @foreach (var pattern in musicPatterns)
                {
                    <MudSelectItem Value="@(pattern.PatternId as Guid?)">@pattern.Name</MudSelectItem>
                }
            </MudSelect>
        </MudStack>
    </MudPaper>
</MudStack>

<MudPaper Style="display:flex;flex-direction:column;" Class="border-solid border-2 mud-border-primary">
    <table class="mud-table" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th style="border: 1px solid #ddd;">Hour</th>
                <th style="border: 1px solid #ddd;">Sunday</th>
                <th style="border: 1px solid #ddd;">Monday</th>
                <th style="border: 1px solid #ddd;">Tuesday</th>
                <th style="border: 1px solid #ddd;">Wednesday</th>
                <th style="border: 1px solid #ddd;">Thursday</th>
                <th style="border: 1px solid #ddd;">Friday</th>
                <th style="border: 1px solid #ddd;">Saturday</th>
            </tr>
        </thead>
        <tbody>
            @for (int hour = 0; hour < 24; hour++)
            {
                <tr>
                    <td style="border: 1px solid #ddd;">@($"{hour}:00")</td>
                    <td style="border: 1px solid #ddd;" @onclick="() => OnCellClick(DayOfWeek.Sunday, hour)">@GetPatternNameForCell((int)DayOfWeek.Sunday, hour)</td>
                    <td style="border: 1px solid #ddd;" @onclick="() => OnCellClick(DayOfWeek.Monday, hour)">@GetPatternNameForCell((int)DayOfWeek.Monday, hour)</td>
                    <td style="border: 1px solid #ddd;" @onclick="() => OnCellClick(DayOfWeek.Tuesday, hour)">@GetPatternNameForCell((int)DayOfWeek.Tuesday, hour)</td>
                    <td style="border: 1px solid #ddd;" @onclick="() => OnCellClick(DayOfWeek.Wednesday, hour)">@GetPatternNameForCell((int)DayOfWeek.Wednesday, hour)</td>
                    <td style="border: 1px solid #ddd;" @onclick="() => OnCellClick(DayOfWeek.Thursday, hour)">@GetPatternNameForCell((int)DayOfWeek.Thursday, hour)</td>
                    <td style="border: 1px solid #ddd;" @onclick="() => OnCellClick(DayOfWeek.Friday, hour)">@GetPatternNameForCell((int)DayOfWeek.Friday, hour)</td>
                    <td style="border: 1px solid #ddd;" @onclick="() => OnCellClick(DayOfWeek.Saturday, hour)">@GetPatternNameForCell((int)DayOfWeek.Saturday, hour)</td>
                </tr>
            }
        </tbody>
    </table>
</MudPaper>
