@page "/rules"
@using MudBlazor
@inject ApplicationDbContext DbContext

<PageTitle>Audionix - Rules</PageTitle>

<MudPaper Class="ml-1 mr-1 mb-1">
    <h2 Class="ptb-2 ml-2">Rules</h2>
</MudPaper>
<MudItem Class="pa-2 ma-2">
    <MudTabs Border="true" Elevation="1">
        <MudTabPanel Text="Categories">
            <MudGrid Class="ma=2 pa-2">
                <MudItem xs="5">
                    <MudStack Row="true">
                        <MudTextField @bind-Value="newCategory" Label="New Category" Variant="Variant.Outlined" />
                        <MudButton OnClick="AddCategory" Color="Color.Primary" Variant="Variant.Filled">Add Category</MudButton>
                    </MudStack>
                </MudItem>
                <MudFlexBreak />
                <MudItem xs="6">
                    <MudTable Items="categories"
                              Bordered="true"
                              Dense="true"
                              Outlined="true">
                        <HeaderContent>
                            <MudTh>Category</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Category">@context.SongCategoryName</MudTd>
                            <MudTd DataLabel="Actions">
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(args => RemoveCategoryHandler(@context.SongCategoryName))" />
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text="Sound Codes">
            <MudGrid Class="ma=2 pa-2">
                <MudItem xs="5">
                    <MudStack Row="true">
                        <MudTextField @bind-Value="newSoundCode" Label="New Sound Code" Variant="Variant.Outlined" />
                        <MudButton OnClick="AddSoundCode" Color="Color.Primary" Variant="Variant.Filled">Add Sound Code</MudButton>
                    </MudStack>
                </MudItem>
                <MudFlexBreak />
                <MudItem xs="6">
                    <MudTable Items="soundCodes"
                              Bordered="true"
                              Dense="true"
                              Outlined="true">
                        <HeaderContent>
                            <MudTh>Sound Code</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Sound Code">@context</MudTd>
                            <MudTd DataLabel="Actions">
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(args => RemoveSoundCodeHandler(@context))" />
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text="Energy Levels">
            <MudGrid Class="ma=2 pa-2">
                <MudItem xs="5">
                    <MudStack Row="true">
                        <MudTextField @bind-Value="newEnergyLevel" Label="New Energy Level" Variant="Variant.Outlined" />
                        <MudButton OnClick="AddEnergyLevel" Color="Color.Primary" Variant="Variant.Filled">Add Energy Level</MudButton>
                    </MudStack>
                </MudItem>
                <MudFlexBreak />
                <MudItem xs="6">
                    <MudTable Items="energyLevels"
                              Bordered="true"
                              Dense="true"
                              Outlined="true">
                        <HeaderContent>
                            <MudTh>Energy Level</MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Energy Level">@context</MudTd>
                            <MudTd DataLabel="Actions">
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(args => RemoveEnergyLevelHandler(@context))" />
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text="Music Schedule Settings">
            <MudGrid class="ma-1" Spacing="5" Justify="Justify.FlexStart">
                <MudItem MaxWidth="200px">
                        <MudNumericField Value="artistSeperation" Label="Artist Seperation" Variant="Variant.Outlined" ValueChanged="@(EventCallback.Factory.Create<int>(this, UpdateArtistSeperationSettings))" />
                </MudItem>
                <MudItem MaxWidth="200px">
                    <MudNumericField Value="titleSeperation" Label="Title Seperation" Variant="Variant.Outlined" ValueChanged="@(EventCallback.Factory.Create<int>(this, UpdateTitleSeperationSettings))" />
                </MudItem>
                <MudItem MaxWidth="200px">
                    <MudNumericField Value="maxSoundCodeSeperation" Label="Max Soundcode Seperation" Variant="Variant.Outlined" ValueChanged="@(EventCallback.Factory.Create<int>(this, UpdateMaxSoundcodeSettings))" />
                </MudItem>
                <MudItem MaxWidth="200px">
                        <MudNumericField Value="maxEnergySeperation" Label="Max Energy Level Seperation" Variant="Variant.Outlined" ValueChanged="@(EventCallback.Factory.Create<int>(this, UpdateMaxEnergySeperationSettings))" />
                </MudItem>
            </MudGrid>
        </MudTabPanel>
    </MudTabs>
</MudItem>
