@page "/filemanager"
@rendermode InteractiveServer

<PageTitle>File Manager</PageTitle>

<MudPaper Style="min-height:calc(100vh - 68px);max-height:calc(100vh - 68px);display:flex;flex-direction:column;" Class="border-solid border-2 mud-border-primary">
    <MudPaper>
        <MudPaper Class="ml-1 mr-1 mb-1">
            <h2 Class="ptb-2 ml-2">File Manager</h2>
        </MudPaper>
        <MudStack Row="true">
            <MudSelect Margin="Margin.Dense" T="string" Label="Station" @bind-Text="selectedStation" ValueChanged="@(e => OnSelectedStationValueChangedWrapper(e))" Variant="Variant.Outlined">
                @foreach (var station in stations ?? Enumerable.Empty<Station>())
                {
                    <MudSelectItem Value="@station.CallLetters" />
                }
            </MudSelect>


            <MudSelect Margin="Margin.Dense" T="string" Label="Folders" @bind-Text="selectedFolder" Variant="Variant.Outlined">
                @foreach (var folder in folders ?? Enumerable.Empty<string>())
                {
                    <MudSelectItem Value="@folder" />
                }
            </MudSelect>


            <MudPaper Width="250px" Class="pl-1 pr-1">
                <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadFiles">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Outlined"
                                   Color="Color.Primary"
                                   for="@context.Id">
                            Upload Files
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudPaper>

            <MudPaper Class="ma-1" Width="calc(99% - 350px)">
                @if (isUploading)
                {
                    <div class="progress-container">
                        <MudProgressLinear Class="mt-3"
                                           Value="@progress"
                                           Max="100"
                                           Size="Size.Large"
                                           Rounded="true"
                                           Color="Color.Primary"
                                           Buffer="false" />
                        <div class="progress-text">@($"{progress}%")</div>
                    </div>
                }
            </MudPaper>
        </MudStack>
    </MudPaper>

    @if (!string.IsNullOrEmpty(SelectedStation) && filesInDirectory.Any())
    {
        <MudPaper Class="border-solid border-2 mud-border-primary ma-1" Style="overflow:auto">
            <MudDataGrid Items="filesInDirectory"
                         Bordered="true"
                         T="AudioMetadata"
                         SortMode="SortMode.None"
                         FixedHeader="true"
                         Virtualize="false"
                         Dense="true">
                <Columns>
                    <PropertyColumn Property="x => x.Title" />
                    <PropertyColumn Property="x => x.Artist" />
                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudText>Duration</MudText>
                        </HeaderTemplate>
                        <CellTemplate>
                            <MudText>@TimeSpan.FromSeconds(context.Item.Duration).ToString(@"mm\:ss")</MudText>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Filename" />
                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudText>Intro</MudText>
                        </HeaderTemplate>
                        <CellTemplate>
                            <MudText>@(((double)context.Item.Intro / 1000).ToString("F1"))</MudText>
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn>
                        <HeaderTemplate>
                            <MudText>Segue</MudText>
                        </HeaderTemplate>
                        <CellTemplate>
                            <MudText>@(((double)context.Item.Segue / 1000).ToString("F1"))</MudText>
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn>
                        <CellTemplate>
                            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="() => EditAudio(context.Item)">Edit</MudButton>
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn>
                        <CellTemplate>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.Delete" OnClick="() => DeleteAudioAsync(context.Item)" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        </MudPaper>
        <MudPaper Class="border-solid border-2 mud-border-primary ma-1">
            <MudStack>
                <MudStack Row="true" Class="mt-1">
                    <MudTextField FullWidth="false" @bind-Value="@EditorTitle" Label="Artist" Margin="Margin.Dense" Style="width:200px;" Variant="Variant.Outlined"></MudTextField>
                    <MudTextField FullWidth="false" @bind-Value="@EditorArtist" Label="Artist" Margin="Margin.Dense" Style="width:200px;" Variant="Variant.Outlined"></MudTextField>
                    <MudTextField FullWidth="false" ShrinkLabel @bind-Value="@WavePlayerCurrentPosition" Format="hh\:mm\:ss\.f" Label="Postition" Margin="Margin.Dense" Variant="Variant.Outlined" Style="width:120px;"></MudTextField>
                    <MudTextField FullWidth="false" ShrinkLabel @bind-Value="@RoundedEditorIntro" Label="Intro" Margin="Margin.Dense" Variant="Variant.Outlined" Style="width:75px;"></MudTextField>
                    <MudTextField FullWidth="false" ShrinkLabel @bind-Value="@RoundedEditorSegue" Label="Segue" Margin="Margin.Dense" Variant="Variant.Outlined" Style="width:75px;"></MudTextField>
                    <MudSlider Value="@WavePlayerZoom" Immediate="true" Class="pmla-50" ValueChanged="@(async (double value) => await SetWavePlayerZoom(value))">Zoom: @WavePlayerZoom.ToString()</MudSlider>
                    <MudSlider Value="@WavePlayerVolume" Immediate="true" ValueChanged="@(async (double value) => await SetWavePlayerVolume(value))">Volume: @WavePlayerVolume.ToString()</MudSlider>
                    <MudIconButton OnClick="WavePlayerMute" Icon="@Icons.Material.Filled.VolumeMute" Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small" />
                </MudStack>
                <WavesurferPlayer ShowTimeline="false"
                                  ShowMinimap="false"
                                  OnLoading="WaveLoading"
                                  OnAudioProcess="GetWavePlayerCurrentPosition"
                                  OnSeek="GetWavePlayerCurrentPosition"
                                  @ref="wavePlayer">
                </WavesurferPlayer>
                <MudStack Row="true" Class="ma-1" wavesurfer-bottom-button-row>
                    <MudIconButton OnClick="GotoBeginning" Icon="@Icons.Material.Filled.FirstPage" Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small"></MudIconButton>
                    <MudIconButton OnClick="WavePlayerPlay" Icon="@Icons.Material.Filled.PlayArrow" Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small">Play</MudIconButton>
                    <MudIconButton OnClick="WavePlayerPause" Icon="@Icons.Material.Filled.Pause" Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small">Pause</MudIconButton>
                    <MudIconButton OnClick="WavePlayerStop" Icon="@Icons.Material.Filled.Stop" Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small">Stop</MudIconButton>
                    <MudButton OnClick="SetIntro" FullWidth="true" StartIcon="@Icons.Material.Filled.SwipeLeftAlt" Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small" Style="width:150px;">Set Intro</MudButton>
                    <MudButton OnClick="SetSegue" FullWidth="true" EndIcon="@Icons.Material.Filled.SwipeRightAlt" Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small" Style="width:150px;">Set Segue</MudButton>
                </MudStack>
            </MudStack>
        </MudPaper>
    }
    </MudPaper>
