@page "/setup"
@rendermode InteractiveServer
@using System.Net.Http.Json
@using SharedLibrary.Data
@using Audionix
@using SharedLibrary.Models
@inject ISnackbar snackbar
@inject NavigationManager NavigationManager

<PageTitle>Setup</PageTitle>

<MudPaper>
    <h2 Class="ptb-2 ml-2">Setup</h2>
    @if (!string.IsNullOrEmpty(databaseErrorMessage))
    {
        <MudAlert Severity="Severity.Error">@databaseErrorMessage</MudAlert>
    }
</MudPaper>

<MudGrid>
    <MudCard Outlined=true Class="ma-8" Elevation="9">
        <MudCardContent>
            <MudText>Settings Path</MudText>
            <MudTextField @bind-Value="@DataPath" Label="App Data Path" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
        </MudCardContent>
        <MudCardActions>
            @if (AppStateService.AppSettings != null)
            {
                <MudButton Class="ma-1" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="SaveDataPath">Save Path</MudButton>
            }
        </MudCardActions>
    </MudCard>

    @if (AppStateService.AppSettings?.IsDatapathSetup == true)
    {
        <MudCard Outlined="true" Class="ma-8" Elevation="25">
            <MudCardContent>
                <MudText>Stations</MudText>
                <MudTable Items="@stations.OrderBy(s => s.StationSortOrder)"
                          ReadOnly=false
                          Dense=true
                          Bordered=true
                          Class="border-solid">
                    <HeaderContent>
                        <MudTh>Station Number</MudTh>
                        <MudTh>Call Letters</MudTh>
                        <MudTh>Slogan</MudTh>
                        <MudTh>Audio Device</MudTh>
                        <MudTh />
                        <MudTh />
                    </HeaderContent>
                    <RowTemplate>
                        @if (context.StationId == StationEditing)
                        {
                            <MudTd>
                                <MudStack Row="true">
                                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(()=>MoveStationUpAsync(@context))">Up</MudButton>
                                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(()=>MoveStationDownAsync(@context))">Down</MudButton>
                                </MudStack>
                            </MudTd>
                            <MudTd DataLabel="CallLetters">
                                <MudTextField @bind-Value="@context.CallLetters" Label="Call Letters" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                            </MudTd>
                            <MudTd DataLabel="Slogan">
                                <MudTextField @bind-Value="@context.Slogan" Label="Slogan" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                            </MudTd>
                            <MudTd>
                                <MudSelect T="AudioDevice" Label="Audio Device" @bind-Value="selectedAudioDevice" Variant="Variant.Outlined">
                                    @foreach (var device in audioDevices)
                                    {
                                        <MudSelectItem T="AudioDevice" Value="@device">@device.FriendlyName</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudTd>
                            <MudTd>
                                <MudStack Row="true">
                                    <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(()=>SaveEditedStationAsync(@context))">Save</MudButton>
                                    <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(()=>CancelStationEdit(@context))">Cancel</MudButton>
                                </MudStack>
                            </MudTd>
                            <MudTd>
                                <MudButton Variant="Variant.Outlined" Disabled="true">Delete</MudButton>
                            </MudTd>
                        }
                        else if (StationEditing != Guid.Empty)
                        {
                            <MudTd DataLabel="Id">@context.StationSortOrder</MudTd>
                            <MudTd DataLabel="CallLetters">@context.CallLetters</MudTd>
                            <MudTd DataLabel="Slogan">@context.Slogan</MudTd>
                            <MudTd DataLabel="AudioDevice">@GetAudioDeviceFriendlyName(context.AudioDeviceId)</MudTd>
                            <MudTd>
                                <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(()=>SaveEditedStationAsync(@context))" Disabled="true">Save</MudButton>
                                <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(()=>CancelStationEdit(@context))" Disabled="true">Cancel</MudButton>
                            </MudTd>
                            <MudTd>
                                <MudButton Variant="Variant.Outlined" Disabled="true">Delete</MudButton>
                            </MudTd>
                        }
                        else
                        {
                            <MudTd DataLabel="Id">@context.StationSortOrder</MudTd>
                            <MudTd DataLabel="CallLetters">@context.CallLetters</MudTd>
                            <MudTd DataLabel="Slogan">@context.Slogan</MudTd>
                            <MudTd DataLabel="AudioDevice">@GetAudioDeviceFriendlyName(context.AudioDeviceId)</MudTd>
                            <MudTd>
                                <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(()=>EditStationButton(@context))">Edit</MudButton>
                            </MudTd>
                            <MudTd>
                                <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(()=>RemoveStationAsync(@context))">Delete</MudButton>
                            </MudTd>
                        }
                    </RowTemplate>
                </MudTable>
            </MudCardContent>

            <MudCardActions>
                <MudTextField @bind-Value="@newStation.CallLetters" Label="Call Letters" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value="@newStation.Slogan" Label="Slogan" Variant="Variant.Outlined"></MudTextField>
                <MudSelect T="AudioDevice" Label="Audio Device" @bind-Value="selectedAudioDevice" Variant="Variant.Outlined">
                    @foreach (var device in audioDevices)
                    {
                        <MudSelectItem T="AudioDevice" Value="@device">@device.FriendlyName</MudSelectItem>
                    }
                </MudSelect>
                <MudButton Class="ma-1" Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddStationAsync">Add Station</MudButton>
            </MudCardActions>
        </MudCard>
    }

    @if (AppStateService.AppSettings != null && AppStateService.AppSettings.IsDatapathSetup)
    {
        <MudCard Outlined="true" Class="ma-8" Elevation="25">
            <MudCardContent>
                <MudText>Setup Station Folders</MudText>
                <MudPaper Width="200px" Class="mp-1 pl-1">
                    <MudSelect Margin="Margin.Dense" T="Station" Label="Stations" @bind-Value="SelectedStation" Variant="Variant.Outlined">
                        @foreach (var station in stations)
                        {
                            <MudSelectItem Value="@station">@station.CallLetters</MudSelectItem>
                        }
                    </MudSelect>
                </MudPaper>
            </MudCardContent>

            <MudTable Items="@folders"
                      ReadOnly=false
                      Dense=true>
                <HeaderContent>
                    <MudTh>Call Letters</MudTh>
                    <MudTh>Delete</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Call Letters">@context.Name</MudTd>
                    <MudTd>
                        <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(()=>RemoveFolder(@context))">Delete</MudButton>
                    </MudTd>
                </RowTemplate>
            </MudTable>
            <MudCardActions>
                <MudTextField @bind-Value="@newFolder.Name" Label="Folder Name" Variant="Variant.Outlined"></MudTextField>
                <MudButton Class="ma-1" Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddFolder">Add Folder</MudButton>
            </MudCardActions>
        </MudCard>
    }

</MudGrid>

<MudButton Class="ma-8" Href="\debug" Variant="Variant.Outlined" Color="Color.Secondary">Debug</MudButton>
