@page "/setup"
@rendermode InteractiveServer
@using System.Net.Http.Json
@using Audionix.Data
@using Audionix.Models
@inject AudionixDbContext DbContext
@inject ISnackbar snackbar
@inject NavigationManager NavigationManager
@inject AppSettings? AppSettings


<PageTitle>Setup</PageTitle>

<MudPaper >
    <h2 Class="ptb-2 ml-2">Setup</h2>
</MudPaper>

 <MudGrid>
    <MudCard Outlined=true Class="ma-8" Elevation="9">
        <MudCardContent >
            <MudText>Settings Path</MudText>
            <MudTextField @bind-Value="@DataPath" Label="App Data Path" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
        </MudCardContent>
        <MudCardActions>
            @if (AppSettings != null)
            {
                <MudButton Class="ma-1" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="SaveConfigurationAndRestart">Save Path</MudButton>
            }
        </MudCardActions>
    </MudCard>

    @if (AppSettings != null && AppSettings.IsDatapathSetup)
    {
    <MudCard Outlined="true" Class="ma-8" Elevation="25">
        <MudCardContent>
            <MudText>Stations</MudText>
            <MudTable 
                Items="@DbContext.Stations"
                ReadOnly=false
                Dense=true
                Bordered=true
                Class="border-solid">
                <HeaderContent>
                    <MudTh>Station Number</MudTh>
                    <MudTh>Call Letters</MudTh>
                    <MudTh>Slogan</MudTh>
                    <MudTh/>
                    <MudTh/>
                </HeaderContent>
                <RowTemplate>
                    @if (context.Id == StationEditing)
                    {
                    <MudTd DataLabel="Id">
                            <MudTextField @bind-Value="@context.Id" Label="Id" Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>
                    </MudTd>

                    <MudTd DataLabel="CallLetters">
                        <MudTextField @bind-Value="@context.CallLetters" Label="Call Letters" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                    </MudTd>

                    <MudTd DataLabel="Slogan">
                        <MudTextField @bind-Value="@context.Slogan" Label="Slogan" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                    </MudTd>

                    <MudTd>
                        <MudStack Row="true">
                            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(()=>SaveEditedStation(@context))">Save</MudButton>
                            <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(()=>CancelStationEdit(@context))">Cancel</MudButton>
                        </MudStack>
                    </MudTd>

                    <MudTd>
                        <MudButton Variant="Variant.Outlined" Disabled="true">Delete</MudButton>
                    </MudTd>
                    }
                    else if (StationEditing != -1)
                    {
                        <MudTd DataLabel="Id">@context.Id</MudTd>
                        <MudTd DataLabel="CallLetters">@context.CallLetters</MudTd>
                        <MudTd DataLabel="Slogan">@context.Slogan</MudTd>                        
                        <MudTd>
                            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(()=>SaveEditedStation(@context))" Disabled="true">Save</MudButton>
                            <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(()=>CancelStationEdit(@context))" Disabled="true">Cancel</MudButton>
                        </MudTd>
                        <MudTd>
                            <MudButton Variant="Variant.Outlined" Disabled="true">Delete</MudButton>
                        </MudTd>
                    } else 
                    {
                        <MudTd DataLabel="Id">@context.Id</MudTd>
                        <MudTd DataLabel="CallLetters">@context.CallLetters</MudTd>
                        <MudTd DataLabel="Slogan">@context.Slogan</MudTd>
                        <MudTd>
                            <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(()=>EditStationButton(@context))">Edit</MudButton>
                        </MudTd>
                        <MudTd>
                            <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(()=>RemoveStation(@context))">Delete</MudButton>
                        </MudTd>
                    }
                </RowTemplate>
            </MudTable>
        </MudCardContent>

        <MudCardActions>
            <MudTextField @bind-Value="@newStation.Id" Label="Station Number" Variant="Variant.Outlined"></MudTextField>
            <MudTextField @bind-Value="@newStation.CallLetters" Label="Call Letters" Variant="Variant.Outlined"></MudTextField>
            <MudTextField @bind-Value="@newStation.Slogan" Label="Slogan" Variant="Variant.Outlined"></MudTextField>
            <MudButton Class="ma-1" Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddStation">Add Station</MudButton>
        </MudCardActions>
    </MudCard>
    } 
    else
    {
    }
    
</MudGrid>